<div class="container search">
    <div class="row opacity" >
          <div class="col-md-12">
              <div class="row d-flex justify-content-center" style="padding: 20px;" >
                    <h2 >Ciclo de vida de un producto</h2>
              </div>
              <div id="custom-search-input" >
                  <div class="input-group col-md-12  ">
                      <input type="text" class="form-control input-lg" placeholder="Buscar" />
                      <span class="input-group-btn">
                          <button class="btn btn-info btn-lg" type="button">
                              <i class="fa fa-search"></i>
                          </button>
                      </span>
                  </div>
              </div>
          </div>
    </div>
</div>
  <div class="row">
    <div class="col-md-4" ></div>
    <div id="adam"></div>
  </div>  

<!--
  <carousel (activeSlideChange)="log($event)" [interval]="false">
    <slide *ngFor="let slide of slides; let index=index">
      <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
      <div class="carousel-caption">
        <h4>Etapa {{index}}</h4>
        <p>{{slide.text}} pp</p>
      </div>
    </slide>
  </carousel> 
-->