.product{
    background-color: beige;
    width: 99.5%;
    margin: 6px 0px 6px 0px;
    padding-bottom: 10px
}

.search{
        
        padding: 80px;
        background-image: url("../../assets/ferti.jpeg") ;
        background-repeat: no-repeat;
        background-size: 99.5%;
        justify-content: center;
        align-items: center;
        color:#F8ECE0;
        font-weight: bold;
}
.tabs{
    padding: 3px;

}

.card{
    background-color: beige;
    width: 99.5%;
    margin: 6px 0px 6px 0px;
    padding-bottom: 10px
}