
<div class="container search">
    <div class="row">
          <div class="col-md-12">
              <div id="custom-search-input">
                  <div class="input-group col-md-12">
                      <input type="text" class="form-control input-lg" placeholder="Buscar producto" />
                      <span class="input-group-btn">
                          <button class="btn btn-info btn-lg" type="button">
                              <i class="fa fa-search"></i>
                          </button>
                      </span>
                  </div>
              </div>
          </div>
    </div>
</div>
<div class="d-flex justify-content-around">
    <div class="card space" >
            <h6 class="card-header">Aptitud de suelo</h6>
            <div class="card-body">
                <div class="grafic">
                    <div class="row">
                          <div class="col-md-12">
                              
                              <div class="grafico">
                                  <div class="sombra"></div>
                                  <div id="porcion1" class="recorte"><div class="quesito" data-rel="70"></div></div>
                                  <div id="porcion2" class="recorte"><div class="quesito" data-rel="120"></div></div>
                                  <div id="porcion3" class="recorte"><div class="quesito" data-rel=""></div></div>
                                  
                                  <div id="porcionFin" class="recorte"><div class="quesito" data-rel="145"></div></div>
                                  
                             </div>
                             
                          </div>
                    </div>
                </div>
                <div class="row d-flex" style="justify-content: space-between;">
                  <div class="col-sm">
                      <div class="Humedad" id="details">
                          <h4>Humedad</h4>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra codeply varius quam sit amet vulputate. 
                              Quisque mauris augue.
                          </p>
                      </div>
                  </div>
                  <div class="col-sm">
                      <div class="Erosion" id="details">
                          <h4>Erosion</h4>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra codeply varius quam sit amet vulputate. 
                              Quisque mauris augue.
                          </p>
                      </div>
                  </div>
                  <div class="col-sm">
                      <div class="precipitacion" id="details">
                          <h4>Precipitacion</h4>
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra codeply varius quam sit amet vulputate. 
                                  Quisque mauris augue.
                              </p>
                          </div>
                  </div>
            </div>
    </div>
</div>





  




  

