<img src="../assets/agriculture.jpg" class="Banner">
<section class="jumbotron text-center" style="padding-top: 0">
  <div class="container">
    <h1 class="jumbotron-heading">ProduceMe</h1>
    <p class="lead text-muted">"La agricultura, para un hombre honorable y de alto espíritu, es la mejor de 
      todas las ocupaciones y artes por medio de las cuales un hombre puede procurarse el sustento. " <br> 
    </p>
      <!-- <button class="btn btn-primary my-2" (click)="toogleBeers()">{{isAllBeersShowing ? 'All Beers' : 'My Beers'}}</button>
      <button *ngIf="!isAllBeersShowing" class="btn btn-secondary my-2" (click)="topFiveShow()" data-toggle="modal" data-target="#topFiveModal">Top 5</button>
   -->
    </div>
</section>